.user-profile-wrapp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
  
}

/* MEDIA QUERY */
.user-profile-menu{
    width: 200px;
    margin-left: 20px;
    margin-right: 10px;

}
/* FIN MEDIA QUERY */

.sidebar-menu{
    display: block;
}

.menu-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu-search{
    margin-bottom: 10px;
}
.user-profile-content{
    width: 50%;
    margin-right: 40px;
}
.user-profile-scroll{
    float: left;    
    height: 100%;
    width: 50%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.user-profile-scroll::-webkit-scrollbar{
    display: none;
}

.prueba{
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  
}